%main#main
  %section#breadcrumbs.breadcrumbs
    .container
      %ol
        %li
          = link_to 'Главная', root_path
  %section.inner-page.pt-4
    %div.row
      %div.col-md-8
        = image_tag('img/error_img.gif')
      %div.col-md-4
        %h2
          422
        Такую страницу мы пока не придумали.
        %br
        Попробуйте еще раз