@import "bootstrap";
@import "style";
@import "owl.carousel";
@import "venobox";
@import "aos";
@import "ionicons";
@import "font-awesome";

#footer .php-email-form input[type="submit"] {
  background: #008c95;
  border: 0;
  border-radius: 3px;
  padding: 8px 30px!important;
  color: #fff;
  transition: 0.3s;
  padding: 20px 15px;
}

.sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}